<!DOCTYPE html>
<html>
    <head>
        <title>Filtering Example</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script>
            angular.module('myApp', []);
            angular.module('myApp').controller('MainCtrl', function($scope) {

				$scope.categories = ['toys', 'people', 'cities'];		// Define our options for our category dropdown

				$scope.items = [
					{id:1,	name:'First Item',		color:'red',	size:'large',		category:'toys'},
					{id:2,	name:'Second Item',		color:'green',	size:'small',		category:'people'},
					{id:3,	name:'Third Item',		color:'blue',	size:'medium',		category:'toys'},
					{id:4,	name:'Fourth Item',		color:'while',	size:'tiny',		category:'people'},
					{id:5,	name:'Fifth Item',		color:'black',	size:'huge',		category:'cities'},
					{id:6,	name:'Sixth Item',		color:'gray',	size:'maximum',		category:'cities'},
					{id:7,	name:'Seventh Item',	color:'orange',	size:'minimum',		category:'people'},
					{id:8,	name:'Eighth Item',		color:'purple',	size:'gigantic',	category:'people'},
					{id:9,	name:'Ninth Item',		color:'brown',	size:'pico',		category:'toys'},
					{id:10,	name:'Tenth Item',		color:'pink',	size:'nano',		category:'toys'}
				];
            });
        </script>
    </head>

    <body ng-app="myApp">
        <div class="container" ng-controller="MainCtrl">

			<div class="page-header">
				<h1>Filtering II Example</h1>
			</div>
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h3 class="panel-title">Items</h3>
				</div>

				<div class="panel-body">
                	<form class="form-inline">
                        <div class="form-group">
                            <labe>Search: </label>
                            <input class="form-control" ng-model="searchObj.$">
                        </div>
						<div class="form-group">
                            <labe>Category: </label>
                            <select class="form-control" ng-model="searchObj.category" ng-options="o as o for o in categories"></select>
                        </div>
                    </form>
				</div>

				<table class="table">
					<tr>
						<th class="col-sm-2">ID</th>               <!-- ng-class dynamically creates a class attribute with whatever the sortIcon() returns -->
						<th class="col-sm-4">Name</th>
						<th class="col-sm-3">Color</th>
						<th class="col-sm-3">Size</th>
						<th class="col-sm-3">Category</th>
					</tr>
                    <tr ng-repeat="item in items | filter:searchObj">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.color}}</td>
                        <td>{{item.size}}</td>
						<td>{{item.category}}</td>
                    </tr>
                </table>
	        </table>

		</div>
    </body>

</html>
